# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/tcc_gdbl
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Porta do servidor
SERVER_PORT=8080

# Python
PYTHON_COMMAND=python
PYTHON_TIMEOUT_SECONDS=10
